@charset "UTF-8";
/* Breakpoint-schema */
/* Färgschema */
/* sass breakpoint mixin */
#coffee-info-headline {
  text-align: center;
  color: #553326; }

#our-coffee-text {
  text-align: center;
  margin: 0.5em 1em;
  color: #553326; }

#our-coffee-img {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0; }

#our-coffee-img img {
  width: 100vw;
  height: 200px; }

#second-img {
  display: none; }

@media (min-width: 40em) {
  #our-coffee-text {
    margin: 3em; }
  #second-img {
    display: inline-block; }
  #our-coffee-img img {
    width: 50%;
    height: 300px; } }

#green-cup img {
  display: flex;
  width: 40vw;
  margin: 0;
  margin-top: 2em; }

#number {
  width: 30px; }

button {
  width: 70px;
  height: 40px;
  color: #553326; }

/*webshop grid delen*/
#webshop-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto; }

#webshop {
  grid-column: 1/ 3;
  grid-row: 1;
  text-align: center; }

#webshop-title {
  grid-column: 2/ 3;
  grid-row: 1;
  margin-top: 4em; }

#webshop-grid p {
  grid-column: 2/ 3;
  grid-row: 1;
  margin-top: 6em; }

#green-cup {
  grid-column: 1 / 2;
  grid-row: 1;
  margin: 0; }

#buy-items {
  grid-column: 1 / 3;
  grid-row: 2;
  margin: auto;
  color: white; }
