
/// breakpoints
$breakpoints:(
    "medium": (min-width: 40em),
    "large": (min-width: 94em)
) !default;
    
///colorscheme
$colors: (
    bright: rgb(255, 255, 255),
    medium-grey: rgb(149, 152, 154),
    coffee: rgb(85, 51, 38)

) !default;

///Font
$font: 'Barlow Semi Condensed', sans-serif;