
.toggle{
    font-size: 30px;
    // color: black;
    color: map-get($colors, bright );
    top: 0;
}
header{
    background-image: url('../images/hero-image-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


// Meny för desktop
@include respond-to('medium'){
    .toggle{
        display: none;
    }
    .toggle-close{
        display: none;
    }
}